In [1]:
import os
import numpy as np
import pandas as pd
from deezzy.knowledge.rules_runner import RulesRunner

In [2]:
features_file = '../results/features.csv'
pd.read_csv(features_file).head()

   Feature index Membership  Begining    End
0              0      small       4.3  6.100
1              0       high       6.1  7.900
2              1      small       2.0  2.000
3              1       high       2.0  4.400
4              2      small       1.0  2.947

In [3]:
rules_file = '../results/rules.txt'

In [4]:
rules_runner = RulesRunner(features_file=features_file, rules_file=rules_file)

In [5]:
# original dataset
dataset = pd.read_csv('./iris_dataset.csv').drop('Id', axis=1)
dataset.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [6]:
CATEGORY_MAPPING = {
    'Iris-setosa':0,
    'Iris-versicolor':1,
    'Iris-virginica': 2
}

In [7]:
samples, labels = dataset.iloc[:,:4], dataset.iloc[:, -1].to_list()
samples.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [8]:
correct = 0
for sample, label in zip(samples.iterrows(), labels):
    sample = sample[1].to_list()
    result = rules_runner(sample=sample)
    if result == CATEGORY_MAPPING[label]:
        correct +=1

correct/len(labels)

0.96